
<div class="modal_menu">
	<header>
		<h1>{{company.name}} Details</h1>
	</header>
	<dl>
		<dt>Company Name:</dt>
		<dd>{{company.name}}</dd>
	</dl>
	<dl>
		<dt>Address: </dt>
		<dd>{{company.address}}</dd>
	</dl>
	<dl>
		<dt>Niche:</dt>
		<dd>{{company.niche}}</dd>
	</dl>
</div>
<div class="modal_layer"></div>
